.main {
	margin-left: 12rem;
	margin-right: 1rem;
	padding-left: 2rem;

	h1 {
		padding-top: 1rem;
		font-size: 3rem;
	}

	.description {
		cursor: pointer;
		color: rgb(90, 90, 90);
		line-height: 1.3rem;
		font-weight: 500;
		width: 60%;
		letter-spacing: 0.5px;
	}

	.hidden {
		mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 60%);
	}
}